@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "FuturaLightBT";
  src: url("./assets/fonts/futura_light_bt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FuturaMediumBT";
  src: url("./assets/fonts/futura_medium_bt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
